body {
	font-family: Helvetica, arial, sans-serif;
}

//sorry had to hack the label style here
label {
	display: inline;
}

.sideRight {
	border: #eee solid 1px;
	h3 {
		background:#eee;
		margin: 0px;
		padding: 5px
	}
	ul{
		padding: 5px;
	}
}

.well-special {
	padding: 8px 0px;
}

.fixed {
	top: 100px;
}