<%= render 'layouts/topnav' %>
<h1>Edit process</h1>
<div class="container-fluid">
	<div class="row-fluid span12">
		<%= render 'form' %>
	</div>
</div>

<%= link_to 'Show', @instruction %> |
<%= link_to 'Back', instructions_path %>
