<h1>Edit process</h1>
<div class="container-fluid">
	<div class="row-fluid span12">
		<%= render 'form' %>
	</div>
</div>

<%= link_to 'Show', program_instruction_path %> |
<%= link_to 'Back', program_instruction_path %>
