<%= render 'layouts/topnav' %>
<h1>New step</h1>
<div class="container-fluid">
	<div class="row-fluid span12">
		<%= render 'form' %>

		<span class="pull-left"><%= link_to 'Back', instructions_path, :class => 'btn btn-default' %></span>
	</div>
</div>
