/* line 1, ../sass/main.scss */
body {
  font-family: "Helvetica Neue", arial, sans-serif;
}

/* line 6, ../sass/main.scss */
label {
  display: inline;
}

/* line 9, ../sass/main.scss */
p, ul, li, a {
  font-family: "Gotham Light", arial, sans-serif;
}

/* line 13, ../sass/main.scss */
h2 {
  color: #444;
  font-weight: 400;
}

/* line 18, ../sass/main.scss */
.sideRight {
  border: #eee solid 1px;
}
/* line 20, ../sass/main.scss */
.sideRight h3 {
  background: #eee;
  margin: 0px;
  padding: 5px;
}
/* line 25, ../sass/main.scss */
.sideRight ul {
  padding: 5px;
}

/* line 30, ../sass/main.scss */
.step {
  font-weight: 600;
}

/* line 34, ../sass/main.scss */
.well-special {
  padding: 10px;
}

/* line 38, ../sass/main.scss */
.fixed {
  top: 100px;
  position: fixed;
}

/* line 48, ../sass/main.scss */
.docs {
  padding: 5px;
  margin: 5px;
}

/* line 52, ../sass/main.scss */
.spacer {
  margin-top: 30px;
}

/* line 57, ../sass/main.scss */
.subnav-fixed {
  position: fixed;
  top: 0px;
  left: 10;
  right: 10;
  z-index: 1030;
}

/* Subnav */
/* line 65, ../sass/main.scss */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  /* Old browsers */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* IE10+ */
  background-image: -o-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 133, ../sass/main.scss */
.navbar {
  padding-bottom: 30px;
}

/* line 136, ../sass/main.scss */
.navbar-inner {
  min-height: 42px;
}
