/* line 1, ../sass/main.scss */
body {
  font-family: Helvetica, arial, sans-serif;
}

/* line 6, ../sass/main.scss */
label {
  display: inline;
}

/* line 10, ../sass/main.scss */
.sideRight {
  border: #eee solid 1px;
}
/* line 12, ../sass/main.scss */
.sideRight h3 {
  background: #eee;
  margin: 0px;
  padding: 5px;
}
/* line 17, ../sass/main.scss */
.sideRight ul {
  padding: 5px;
}

/* line 22, ../sass/main.scss */
.well-special {
  padding: 10px;
}

/* line 26, ../sass/main.scss */
.fixed {
  top: 100px;
  position: fixed;
}

/* line 36, ../sass/main.scss */
.docs {
  padding: 5px;
  margin: 5px;
}

/* line 42, ../sass/main.scss */
.subnav-fixed {
  position: fixed;
  top: 0px;
  left: 10;
  right: 10;
  z-index: 1030;
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Subnav */
/* line 58, ../sass/main.scss */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  /* Old browsers */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* IE10+ */
  background-image: -o-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 75, ../sass/main.scss */
.subnav .nav {
  margin-bottom: 0;
}

/* line 78, ../sass/main.scss */
.subnav .nav > li {
  float: left;
}

/* line 81, ../sass/main.scss */
.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  /*	  padding-bottom: 11px;*/
  padding-bottom: 6px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 95, ../sass/main.scss */
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}

/* line 106, ../sass/main.scss */
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}

/* line 110, ../sass/main.scss */
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 117, ../sass/main.scss */
.subnav .nav > li:last-child > a {
  border-right: 0;
}

/* line 120, ../sass/main.scss */
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 126, ../sass/main.scss */
.navbar {
  padding-bottom: 30px;
}

/* line 129, ../sass/main.scss */
.navbar-inner {
  min-height: 32px;
}
