<div id="navbar" class="navbar">
  <div class="navbar-inner subnav navbar">
  	<%= link_to 'HSA helper', programs_path, :class => 'brand' %>
  	<ul class="nav navbar-inverse">
  		<li class="active"><a href="#step1">Needs</a></li>
  		<li><%= link_to 'Programs', programs_path %></li>
			<li><a href="#step3">Applying</a></li>
	    <li><a href="#step4">Information</a></li>
    </ul>
  </div>
</div><!-- end nav-bar-->